* {
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
}

#bg-image {
    top: 0;
    position: fixed;
    z-index: -3;
    width: 100%;
    height: 100vh;
    background-image: url("../images/clouds.jpg");
    background-size: cover;
    background-repeat: repeat;
}

header {
    background-color: white;
    box-shadow: 0 0 10px rgb(0, 0, 0, .5);
    z-index: 1;
    padding: 30px 40px;
    border-radius: 0 0 1000px / 100px 0;
}

#section-logo {
    transition: 0.2s ease-in-out;
    display: inline-block;
}

#section-logo:hover {
    filter: contrast(1.4);
    transform: scale(1.01);
}

#h1-logo {
    font-family: "Segoe UI Emoji";
    font-size: 30px;
    color: #76AFB1;
    letter-spacing: 0.7rem;
    text-shadow: rgba(118, 175, 177, 0.20) 5px 3px 5px;
}

#p-slogan {
    display: inline;
    font-family: "Dubai";
    font-size: 16px;
    letter-spacing: 2px;
    margin-left: 65px;
    color: rgb(0, 0, 0, 60%);
}

nav {
    font-size: 19px;
    font-family: Dubai;
    width: 450px;
    position: absolute;
    margin-top: 10px;
    top: 0;
    right: 200px;
    display: block;
    padding: 30px 0;
}

li {
    display: inline;
}

li:hover {
    background-color: rgba(220,235,255,1);
}

li a {
    padding-left: 5px;
    margin-right: 5%;
    text-decoration: none;
    color: rgba(34, 34, 34, 0.70);
    transition: .1s ease-in-out;
}

li a:hover {
    font-weight: bold;
    border-left: solid 1px #76AFB1;
    color: black;
}

.main-sections {
    position: relative;
}

.images {
    filter: blur(0px);
    transition: 0.2s ease-in-out;
    width: 200px;
    height: 200px;
    background-size: cover;
    border-radius: 100px;
    box-shadow: 0 0 30px 5px rgba(0, 0, 0, .3);
}

.images:hover {
    transform: scale(1.1);
    filter: blur(0px);
}

@keyframes animation {
    0% {
        transform: scale(1.0);
        transform: translateY(-5px)
    }
    50% {
        transform: scale(1.05);
        transform: translateY(5px)
    }
    100% {
        transform: scale(1.0);
        transform: translateY(-5px)
    }
}

.images-container {
    border: rgba(255, 255, 255, .2) solid 3px;
    margin: 100px auto;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    animation-name: animation;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

#img-band {
    background-image: url("../images/band.png");
    background-position-x: 0;
}

#img-apple {
    background-image: url("../images/apple.jpg");
    background-position-x: -50px;
}

#img-content {
    background-image: url("../images/content.jpg");
    background-position-x: -50px;
}

#img-leap {
    background-image: url("../images/leap.jpg");
    background-position-y: -30px;
}

.section-windows {
    z-index: -1;
    height: 158px;
    width: 412px;
    background-color: rgba(34, 34, 34, 0);
}

main {
    font-family: Dubai;
    font-size: 16px;
    letter-spacing: 0.15rem;
    color: rgba(34, 34, 34, 0.70);
}

.p-description {
    position: relative;
    text-align: center;
    background-color: white;
    box-shadow: 0 0 10px rgb(0, 0, 0, .5);
    padding: 40px;
}

.highlighted {
    font-style: normal;
    color: #b17876;
}

a {
    color: #b17876;
}

footer {
    margin-top: 200px;
    text-align: center;
    color: black;
    background-color: white;
    border-radius: 1000px 0 0 0 / 100px 0 0 0;
    font-family: Dubai;
    font-size: 13px;
    letter-spacing: 0.15rem;
}

#section-contact {
    font-size: 13px;
    text-align: center;
    padding: 40px 40px 0 40px;
    margin-left: auto;
    margin-right: auto;
}

#section-privacy-copyright {
    text-align: center;
    font-size: 12px;
    padding: 15px 40px;
}


.burger {
    padding: 10px;
    display: none;
    margin-right: 29px;
    margin-top: 30px;
    z-index: 5;
    height: 25px;
    width: 35px;
    position: fixed;
    top: 0;
    right: 0;
    border-radius: 500px / 50px;
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: rgba(18, 18, 18, 0.51) 0 1px 3px 2px;
    transition: 100ms;
}

.burger:hover {
    transform: scale(1.05);
}

.burger div {
    border-radius: 40px / 20px;
    height: 3px;
    width: 100%;
    background-color: #b17876;
    margin: 3px 0;
}

.burger div:nth-child(3n+1) {
    border-radius: 40px / 20px;
    width: 20px;
    margin-left: auto;
    margin-right: auto;
}


@media screen and (max-width: 1170px) {
    .burger {
        display: block;
    }

    .toggle {
        display: inline-block;
        animation: fadeIn 0.1s ease-in-out;
    }

    nav {
        box-shadow: 0 0 0 5000px rgba(0,0,0,.3);
        overflow: hidden;
        border-radius: 30px 100px / 40px 3px;
        margin-right: 2%;
        z-index: 5;
        margin-top: 100px;
        padding: 0;
        display: none;
        position: fixed;
        right: 0;
        width: 120px;
        animation: fadeOut 0.1s ease-in-out reverse;
    }

    @keyframes fadeIn {
        from {
            filter: blur(200px);
            opacity: 0;
        }
        to {
            filter: blur(0);
            opacity: 1;
        }
    }

    @keyframes fadeOut {
        from {
            filter: blur(00);
            opacity: 1;
        }
        to {
            filter: blur(200px);
            opacity: 0;
        }
    }

    nav ul li {
        box-shadow: rgba(0, 0, 0, 0.56) 5px 1px 3px 1px;
        border-radius: 0;
        background-color: white;
        padding: 5% 0;
        margin-bottom: 5px;
        display: block;
        text-align: center;
    }

    li a:hover {
        color: black;
        border-left: none;
    }
}

@media screen and (max-width: 500px) {
    header {
        padding-left: 0;
    }

    #p-slogan {
        margin-left: 0;
        font-size: 16px;
    }

    .burger {
        margin-right: 16px;
        transform: scale(0.7);
    }

    .burger:hover {
        transform: scale(0.8);
    }

    nav {
        box-shadow: 0 0 0 1000px rgba(0,0,0,.3);
        margin-right: 0;
        transform: scale(0.8);
        margin-top: 70px;
    }

    #section-logo {
        transform: scale(0.8);
        margin-left: 0;
    }

    #section-logo:hover {
        transform: scale(0.85);
    }

    .p-description {
        font-size: 16px;
    }
}




















