.imgWrapper .bgImage {
    background-image: url("../images/jungle2.jpg");
}

main h1 {
    z-index: 2;
    position: relative;
    display: flex;
    height: 3em;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    font-weight: lighter;
    font-size: 1.2em;
    margin: 2em 1em;
}

main .formWrapper {
    width: 100%;
    padding: 1em;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

form {
    width: 80%;
    margin: 4em auto;
    position: relative;
    z-index: 2;
    display: flex;
    flex-flow: column;
    gap: 2em;
    padding: 2em;
    font-family: spartan, serif;
    background-color: rgba(194, 224, 248, 0.59);
    box-shadow: rgba(22, 16, 16, 0.52) 1px 3px 6px;
    border-radius: .5em;
    overflow: hidden;
}

form label {
    align-items: center;
    position: relative;
    font-size: 1em;
    display: flex;
    height: 1.5em;
}

form div label span {
    color: white;
    width: 6em;
}

.messageInput label {
    align-items: normal;
}

.messageInput {
    height: 5rem;
}

form label input {
    font-size: .8em;
    padding-left: .5em;
    background: transparent;
    box-shadow: rgba(12, 18, 24, 0.2) 0 0 10px;
    mix-blend-mode: luminosity;
    border-radius: 5px;
    width: 100%;
    margin-left: 2rem;
    height: 1.5rem;
}

form label input:focus {
    outline: none;
}

form label textarea {
    font-size: .8em;
    padding: .5em .5em;
    background: transparent;
    box-shadow: rgba(12, 18, 24, 0.3) 0 0 10px;
    mix-blend-mode: luminosity;
    border-radius: 5px;
    margin-left: 2rem;
    height: 5rem;
    width: 100%;
    resize: none;
}

form label textarea:focus {
    outline: none;
}

.submitButton input {
    padding: .2rem;
}

input[type=text]:focus {
    border: none;
}

textarea:focus {
    border: none;
}

.submitButton input {
    cursor: pointer;
}

.address {
    background: black;
}

.address h2 {
    margin: 0;
}

.map-responsive {
    overflow: hidden;
    padding: 10em 0;
    position: relative;
    height: 0;
    margin: 0 auto;
}

.map-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}
